@import './input.scss';


.banner{
    height: 100px;
    width: 100vw;
    background-image: url('/assets/Bitmap\ \(4\).png');
    display: flex;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    h1{
        font-size: 2.5rem;
        font-family: $font-primary;
        line-height: 2.5rem;
        color: $color-white;
        text-align: center;
    }
    
}
.first-section-logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    gap: 2rem;
    padding-top: 60px;
    margin: 32px;
    svg{
        @include svg-icon;
    }
    h2{
        font-size: 1.5rem;
        font-family: $font-primary;
        line-height: 1.5rem;
        color: $color-secondary-Navy;
        font-weight: bold;
        margin: 10px auto;
        letter-spacing: -0.89px;
    }
    p{
        font-size: 0.9rem;
        font-family: $font-secondary;
        line-height: 1.5rem;
        color: $color-tertiary-Dim;
        margin: 10px auto;
    }
}

.second-section{
    text-align: center;
    display: flex;
    flex-direction:  column;
    gap: 2rem;
    justify-content: center;
    h2{
        margin: 20px;
        font-size: 1.6rem;
        font-family: $font-primary;
        line-height: 2rem;
        color: $color-secondary-Navy;
        font-weight: bold;
        margin: 10px auto;
        letter-spacing: -1.43px;
    }
    p{
        font-size: 0.9rem;
        font-family: $font-secondary;
        line-height: 1.5rem;
        color: $color-tertiary-Dim;
        margin: 20px;
        font-weight: normal;
    }
    a{
        @include button;
        margin: 20px;
    }
    img{
        @include img-bull;
        margin-top: 50px;
    }
    .content-left{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .txt-telemetry{
           position: relative;
           .svg-arrow-container{
            position: absolute;
            @include svg-arrow;
            top: 50%;
            bottom: 120px;
            left: 50%;
            transform: translate(-30%, -10%) rotateY(-180deg);
           }
        }
        .city-near{
            position: relative;
            .svg-arrow-container{
                position: absolute;
                @include svg-arrow;
                top: 100%;
                bottom: 300px;
                left: 0;
                transform: translate(-50%, -20%);
            }
        }
        .txt-pay{
            position: relative;
            .svg-arrow-container{
                position: absolute;
                @include svg-arrow;
                top: 50%;
                bottom: 320px;
                left: 80%;
                transform: translate(-30%, -10%) rotateY(-180deg);
            }
        }
    }
}

.footer-section{
    margin-top: 80px;
    color: $color-quaternary-Grey;
    font-family: $font-primary;
    text-align: center; 
    .foot-sign{
        @include footer;
        height: 300px;
        h3{
            font-size: 2rem;
            line-height: 2rem;
            padding: 40px 10px 20px 10px;  
            font-weight: bold;
        }
      img{
        object-fit: cover;
        object-position: center;
        margin: 10px 10px 10px 10px;
        border-radius: 5px;
        
      }
    }
    .foot-link{
        @include foot-link;
    }
}
