@mixin button{
    background: $color-button-yellow;
    color: $color-white;
    text-decoration: none;
    padding: 0.8rem 3rem; 
    line-height: 1.5rem;
    font-family: $font-primary;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: background-color 0.3s ease-in-out;
    &:hover{
        border: 1px solid $color-button-yellow;
        color: $color-button-yellow;
        background: none;
    }
}
