//color variables

$color-button-yellow: #FCB72B;
$color-secondary-Navy: #2F3B59;
$color-tertiary-Dim:  #939CAA;
$color-quaternary-Grey: #E5ECF4;
$color-quinary-Snow: #F2F5F9;
$color-quinary-Yellow: #FFF4DF;
$color-white: #D9E8FF;

//font variables

$font-primary: "Space Mono", monospace;
