//color variables

$color-button-yellow: #FCB72B;
$color-secondary-Navy: #2F3B59;
$color-tertiary-Dim:  #939CAA;
$color-footer : #495567;
$color-quaternary-Grey: #E5ECF4;
$color-quinary-Snow: #F2F5F9;
$color-quinary-Yellow: #FFF4DF;
$color-white: #D9E8FF;
$color-mobile-nav: #333A44;


//font variables

$font-primary: "Space Mono", monospace;
$font-secondary:  "Lexend Deca", serif;


