@import '_reset';
@import '_variables';
@import '_mixins';
@import '_home';
@import '_mediaNav';
@import '_dekstop';
@import '_career';


.nav {
    position: fixed;
    color: $color-secondary-Navy;
    display: flex;
    color: $color-secondary-Navy;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
    height: 6rem;
    padding: 0 2rem;
    .logo {
        text-align: center;
        color: #000;  
        height: 1.9rem;
        flex-grow: 1;
        font-size: 1.3rem;
        font-weight: bold;
        font-family: $font-primary;
        a{
            text-decoration: none;
            color: $color-secondary-Navy;
            font-size: 2.3rem;
        }
    }
    .menu-burger{
        position: relative;
        width: 1.5rem;
        height: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        .burger {
            position: absolute;
            height: 0.2rem;
            width: 100%;
            background-color: $color-button-yellow;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
        .burger-first {
            top: 0; /* Position initiale en haut */
        }

        .burger-middle {
            top: 50%; /* Centré verticalement */
            transform: translateY(-50%);
        }

        .burger-last {
            bottom: 0; /* Position initiale en bas */
        }
        .burger-first, .burger-middle, .burger-last {
           transition: transform 0.3s ease, opacity 0.3s ease, rotate;
        }
        
    }

    .content{
        left: 0;
        top: 60px;
        height: 0;
        transition: transform 0.5s ease-in-out, opacity 5s ease-in-out, height 0.5s ease-in-out;
        position: fixed;
            
        width: 16rem;
        background-color: $color-mobile-nav;
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        transform: translateX(-100%);
        .side-menu {
           
            nav {
                position: relative;
                display: flex;
                flex-direction: column;
                height: 100%;   
                a {
                color: $color-quaternary-Grey;
                text-decoration: none;
                font-family: $font-primary;
                padding: 15px;
                display: flex;
                font-size: 18px;
                transition: background-color 0.3s ease;
                @include link-animation;
             }
            }

           
    
        }
        .btn{
            margin-top: 50%;
            @include button;
        }
    }
    .menu-toggle {
        display: none;/* Cache le checkbox */

        &:checked ~ .content {
            transform: translateX(0);
            opacity: 1;
            height: 91.5%;
        }
    }
    #menu-toggle {

        &:checked ~ .menu-burger .burger-first {
            transform: rotate(45deg) translate(0, 0); /* Rotation avec translation */
            top: 50%; /* Place la barre au centre */
            transform: translateY(-50%) rotate(45deg);
        }

        &:checked ~ .menu-burger .burger-middle {
            opacity: 0; /* Cache la barre du milieu */
        }

        &:checked ~ .menu-burger .burger-last {
            transform: rotate(-45deg) translate(0, 0); /* Rotation avec translation */
            bottom: 50%; /* Place la barre au centre */
            transform: translateY(50%) rotate(-45deg);
        }
    }
}
    
