@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, ::after, ::before, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav {
  color: #2F3B59;
  display: flex;
  color: #2F3B59;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 4rem;
  padding: 0 2rem;
}
.nav .menu-burger {
  position: relative;
  width: 1.5rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.nav .menu-burger .burger {
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background-color: #FCB72B;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.nav .menu-burger .burger-first {
  top: 0; /* Position initiale en haut */
}
.nav .menu-burger .burger-middle {
  top: 50%; /* Centré verticalement */
  transform: translateY(-50%);
}
.nav .menu-burger .burger-last {
  bottom: 0; /* Position initiale en bas */
}
.nav .menu-burger .burger-first, .nav .menu-burger .burger-middle, .nav .menu-burger .burger-last {
  transition: transform 0.3s ease, opacity 0.3s ease, rotate;
}
.nav .logo {
  color: #2F3B59;
  text-align: center;
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Space Mono", monospace;
}
.nav .side-menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 16rem;
  height: 0;
  background-color: #333A44;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out, opacity 5s ease-in-out, height 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.nav .side-menu nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.nav .side-menu nav .btn {
  margin-top: auto;
  background: #FCB72B;
  color: #D9E8FF;
  text-decoration: none;
  padding: 0.8rem 3rem;
  line-height: 1.5rem;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: background-color 0.3s ease-in-out;
}
.nav .side-menu nav .btn:hover {
  border: 1px solid #FCB72B;
  color: #FCB72B;
  background: none;
}
.nav .side-menu nav a {
  color: #E5ECF4;
  text-decoration: none;
  font-family: "Space Mono", monospace;
  padding: 15px;
  display: flex;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.nav .menu-toggle {
  display: none; /* Cache le checkbox */
}
.nav .menu-toggle:checked ~ .side-menu {
  transform: translateX(0);
  opacity: 1;
  height: 91.5%;
}
.nav #menu-toggle:checked ~ .menu-burger .burger-first {
  transform: rotate(45deg) translate(0, 0); /* Rotation avec translation */
  top: 50%; /* Place la barre au centre */
  transform: translateY(-50%) rotate(45deg);
}
.nav #menu-toggle:checked ~ .menu-burger .burger-middle {
  opacity: 0; /* Cache la barre du milieu */
}
.nav #menu-toggle:checked ~ .menu-burger .burger-last {
  transform: rotate(-45deg) translate(0, 0); /* Rotation avec translation */
  bottom: 50%; /* Place la barre au centre */
  transform: translateY(50%) rotate(-45deg);
}

/*# sourceMappingURL=output.css.map */
