<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/_about.css">
    <title>Scoot</title>
</head>
<body>
    <div id="header" class="nav">

    </div>
    <header>
        <div class="banner">
            <h1>About</h1>
        </div>
    </header>
    <main>
        <section class="mobility">
            <img src="/assets/Group 36.png" alt="Scooter in city" />
            <div class="svg-arrow-container" id="svg">
                <!-- fleche container  -->
            </div>
                <div class="text-mobility">
                    <h2>Mobility for the Digital Era</h2>
                    <p>Getting around should be simple (and even fun!) for everyone. We embrace technology
                </div>
        </section>

        <section class="urban-living">
            <div class="svg-arrow-container" id="svg">
                <!-- fleche container  -->
            </div>
            <img src="/assets/Bitmap Copy.png" alt="Urban living with scooter" />
            <h2>Better Urban Living</h2>
            <p>We’re helping connect cities and bring people closer together. Our scooters are also fully-electric and we offset the minimal carbon footprint for each ride.</p>
        </section>

        <section class="our-values">
            <h2>Our Values</h2>
            <div class="value">
                <img src="/assets/Group 3.png" alt="Scooter Technology" />
                <h3>Our Tech</h3>
                <p>We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric scooters are a joy to ride!</p>
            </div>
            <div class="value">
                <img src="/assets/Group 6.png" alt="Scoot Integrity" />
                <h3>Our Integrity</h3>
                <p>We are fully committed to deliver a great yet safe, sustainable micro-mobility experience in every city we serve.</p>
            </div>
            <div class="value">
                <img src="/assets/Group 9.png" alt="Community Support" />
                <h3>Our Community</h3>
                <p>We support every community we serve. All workers are paid a living wage based on their location and are Scoot employees.</p>
            </div>
        </section>

        <section class="faqs">
            <h2>FAQs</h2>
            <div class="faq">
                <h3>How it works</h3>
                <p>To download the Scoot app, search “Scoot” in both the App and Google Play stores. Or click the link at the bottom of this page to be redirected to the correct page.</p>
            </div>
            <div class="faq">
                <h3>Can I find a nearby Scoot?</h3>
                <p>Yes, you can! The app shows the nearest Scoot to your location, so you can get one quickly.</p>
            </div>
            <div class="faq">
                <h3>Do I need a license to ride?</h3>
                <p>Each city has its own laws. But we recommend always wearing a helmet for your safety, regardless of local regulations.</p>
                
            </div>
            <div class="faq">
                <h3>Should I wear a helmet?</h3>
                <p>Yes! While some cities have different laws, we strongly recommend wearing a helmet every time you ride.</p>
                
            </div>
            <div class="faq">
                <h3>What about the rules & regulations?</h3>
                <p>Please check local laws before riding, but we always encourage safe and respectful riding practices.</p>
                
            </div>
            <div class="faq">
                <h3>What if I damage my Scoot?</h3>
                <p>If you damage the Scoot, contact our customer service for instructions on how to proceed.</p>
            </div>
        </section>

    </main>
    <footer id="footer" class="footer-section">
        <!-- pas de page -->
    </footer>

    <script src="/scripts/navigation.js"></script>
    <script src="/scripts/toggle.js"></script>
</body>
</html>