<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/input.css">
    <title>Document</title>
</head>
<body>
    <div id="header" class="nav">
    </div>
    <header>
        <div class="banner-career">
         
        </div>
    </header>
    <main>
        <section class="second-section">
            <div class="content-left">
                <div class="sub-content txt txt-telemetry">
                    <img src="/assets/assets/Group 19.png" alt="group19">
                    <div class="svg-arrow-container" id="svg-human">
                        <!-- fleche container  -->
                    </div>
                    <h2>Care to join our mission?</h2>
                    <p>We’re always looking for ambitious individuals to help us on our journey. If you’re passionate about our mission to provide clean, accessible transport to improve urban living we want to hear from you!</p>
                    <a href="#">Say Hello</a>
                </div>
        </section>
        <section class="third-section">
                <h2>Why join us ?</h2>
                <div class="imgOurTech">
                    <img src="/assets/assets/Group 3.png " alt="group3">
                </div>
                <div>
                    <h2>Our Tech</h2>
                    <p>We are fully committed to deliver a great yet safe, sustainable micro-mobility experience in every city we serve.</p>
                </div>
        </section>
        <section class="fourth-section">
            <div class="imgOurTech">
                <img src="/assets/assets/Group 6.png" alt="group6">
            </div>
            <div>
                <h2>Our integrity</h2>
                <p>We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric scooters are a joy to ride!</p>
            </div>
        </section>
        <section class="five-section">
            <div class="imgOurTech">
                <img src="/assets/ASSETS/Group 9.png" alt="group9">
            </div>
            <div>
                <h2>Our community</h2>
                <p>We support every community we serve. All workers are paid a living wage based on their location and are Scoot employees.</p>
            </div>
        </section>
        <section class="six-section">
            <div>
                <strong>
                    General Manager
                </strong>
                <p>
                    Jakarta, Indonesia
                </p>
                <a href="#">Apply</a>
            </div>
            <div>
                <strong>
                    UI/UX Designer
                </strong>
                <p>
                    Yokohama, Japan
                </p>
                <a href="#">Apply</a>
            </div>
            <div>
                <strong>
                    Blog Content Copywriter
                </strong>
                <p>
                    New York, United States
                </p>
                <a href="#">Apply</a>
            </div>
            <div>
                <strong>
                    Graphic Designer
                </strong>
                <p>
                    New York, United States
                </p>
                <a href="#">Apply</a>
            </div>
            <div>
                <strong>
                    Fleet Supervisor
                </strong>
                <p>
                    Jakarta, Indonesia
                </p>
                <a href="#">Apply</a>
            </div>
            <div>
                <strong>
                    UX Analyst
                </strong>
                <p>
                    London, United Kingdom
                </p>
                <a href="#">Apply</a>
            </div>
        </section>
    </main>
    <footer id="footer" class="footer-section">
        <!-- pas de page -->
    </footer>

    <script src="/scripts/navigation.js"></script>
    <script src="/scripts/toggle.js"></script>
</body>
</html>